[ req ]
default_md = sha256
prompt = no
req_extensions = req_ext
distinguished_name = req_distinguished_name
[ req_distinguished_name ]
commonName = frt-kors43.busche-cnc.com
countryName = US
stateOrProvinceName = Michigan
localityName = Fruitport
organizationName = Mobex Global
organizationalUnitName = Information Systems
emailAddress = sjackson@mobexglobal.com
[ req_ext ]
keyUsage=critical,digitalSignature,keyEncipherment,nonRepudiation,dataEncipherment
extendedKeyUsage=critical,serverAuth,clientAuth
basicConstraints=critical,CA:false
subjectAltName = @alt_names
[ alt_names ]
DNS.0 = frt-kors43.busche-cnc.com
DNS.1 = 172.20.0.41
