https://stackoverflow.com/questions/75034737/what-are-the-new-requirements-for-certificates-in-chrome
# https://www.openssl.org/docs/manmaster/man5/x509v3_config.html
cat > "x509.config" << EOF
authorityKeyIdentifier=keyid,issuer
basicConstraints=critical,CA:true
keyUsage=critical,digitalSignature,nonRepudiation,cRLSign,keyCertSign
subjectAltName=@alt_names
issuerAltName=issuer:copy
subjectKeyIdentifier=hash
[alt_names]
DNS.1=somesubdomain.mydomain.com.test
EOF

