[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
commonName = frt-kors43
countryName = US
stateOrProvinceName = Michigan
localityName = Fruitport
organizationName = Mobex Global
organizationalUnitName = Information Systems
emailAddress = sjackson@mobexglobal.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = www.company.com
DNS.2 = company.com
DNS.3 = company.net